snippet test "jest test()" b
test('$1', () => {
  $2
});
endsnippet


snippet beforee "jest beforeEach()" b
beforeEach(() => {
  $1
})
endsnippet


snippet aftere "jest afterEach()" b
afterEach(() => {
  $1
})
endsnippet
